.global-underline {
  padding-bottom: 0.2%;
  transition: background-size 0.6s;
  background: linear-gradient(currentColor, currentColor) no-repeat left 123%/0
    40%;
}

.global-underline:hover {
  background-size: 97% 40%;
}
