@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Sans SC";
  src: url(/font/NotoSansSC-Regular.otf) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Noto Sans SC";
  src: url(/font/NotoSansSC-Medium.otf) format("woff");
  font-weight: 500;
}
