@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Noto Sans SC";
    src: url(/font/NotoSansSC-Regular.otf) format("woff");
    font-weight: 400;
  }

  @font-face {
    font-family: "Noto Sans SC";
    src: url(/font/NotoSansSC-Medium.otf) format("woff");
    font-weight: 500;
  }

  @font-face {
    font-family: "Noto Sans SC";
    src: url(/font/NotoSansSC-Bold.otf) format("woff");
    font-weight: 700;
  }

  /* Assume light mode by default */
  @import "prism-themes/themes/prism-one-light.min.css" screen;
  /* Supersede dark mode when applicable */
  @import "prism-themes/themes/prism-one-dark.min.css" screen and
    (prefers-color-scheme: dark);
}

::selection {
  @apply bg-black text-white dark:bg-white dark:text-black;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.prose pre {
  @apply rounded border p-4 my-4 border-gray-200 bg-gray-50 dark:border-gray-700 dark:bg-gray-900;
  overflow-x: auto;
}

.prose code {
  @apply text-gray-800 dark:text-gray-200 px-1 py-0.5 rounded bg-gray-200 dark:bg-gray-800;
}

.prose pre code {
  @apply text-gray-800 dark:text-gray-200 border-0 bg-transparent dark:bg-transparent;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

blockquote {
  @apply border-l-2 transition-all pl-3 italic;
}

.prose a {
  text-decoration: inherit;
  font-weight: inherit;
}
