@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Noto Sans SC";
    src: url(/font/NotoSansSC-Light.otf) format("woff");
    font-weight: 300;
  }

  @font-face {
    font-family: "Noto Sans SC";
    src: url(/font/NotoSansSC-Regular.otf) format("woff");
    font-weight: 400;
  }

  @font-face {
    font-family: "Noto Sans SC";
    src: url(/font/NotoSansSC-Medium.otf) format("woff");
    font-weight: 500;
  }

  @import "prism-themes/themes/prism-one-dark.min.css" screen;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

::selection {
  @apply bg-black text-white dark:bg-white dark:text-black;
}

#__next {
  @apply bg-gray-50 dark:bg-gray-900;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.prose pre {
  overflow-x: auto;
}

.prose code {
  @apply px-1 py-0.5 rounded bg-gray-200 dark:bg-gray-800;
}

.prose pre code {
  @apply border-0 bg-transparent dark:bg-transparent;
}

pre::-webkit-scrollbar {
  display: none;
}

pre {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

table {
  display: block;
  max-width: fit-content;
  overflow-x: auto;
  white-space: nowrap;
}

.prose a {
  text-decoration: inherit;
  font-weight: inherit;
}

.prose .anchor {
  @apply absolute invisible;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}

.anchor:hover {
  @apply visible no-underline;
}

.prose a {
  @apply transition-all font-medium text-[#539bf5] hover:text-[#2563eb] hover:underline;
}

.prose .anchor:after {
  @apply text-gray-300 dark:text-gray-700;
  content: "#";
}

.prose *:hover > .anchor {
  @apply visible no-underline;
}

.prose h1 {
  @apply text-4xl font-medium mt-8 mb-4;
}

.prose h2 {
  @apply text-3xl font-medium mt-8 mb-4;
}

.prose h3 {
  @apply text-2xl font-medium mt-8 mb-4;
}

.prose h4 {
  @apply text-xl font-medium mt-8 mb-4;
}

.prose h5 {
  @apply text-lg font-medium mt-8 mb-4;
}

.prose p {
  @apply text-base my-5 text-gray-800 dark:text-gray-200;
}

.prose blockquote {
  @apply font-medium italic border-l-4 my-5 pl-4;
}

.prose ul {
  @apply my-5;
}

.prose li {
  @apply my-2;
}

.prose ul > li {
  @apply relative pl-7;
}

.prose ul > li:before {
  content: "";
  border-radius: 50%;
  top: calc(50% - 0.375em / 2);
  @apply absolute bg-gray-300 dark:bg-gray-500 w-[0.375em] h-[0.375em] left-1;
}

.rehype-code-title {
  @apply px-5 py-3 font-mono text-sm font-medium border-b rounded-t-lg text-gray-200 border-gray-600 bg-[#272b33];
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}

.highlight-line {
  @apply block px-4 -mx-4 bg-gray-100 border-l-4 border-blue-500 dark:bg-gray-800;
}
